<!--
  Wazuh Agent Configuration
  Managed by Ansible
-->

<ossec_config>

  <client>
    <server>
      <address>{{ wazuh_agent_manager_host }}</address>
      <port>{{ wazuh_agent_manager_port }}</port>
      <protocol>{{ wazuh_agent_protocol }}</protocol>
    </server>

    <notify_time>{{ wazuh_agent_notify_time }}</notify_time>
    <time-reconnect>{{ wazuh_agent_reconnect_time }}</time-reconnect>
    <auto_restart>yes</auto_restart>
    <crypto_method>aes</crypto_method>
  </client>

  <client_buffer>
    <disabled>no</disabled>
    <queue_size>5000</queue_size>
    <events_per_second>500</events_per_second>
  </client_buffer>

  <!-- Rootcheck -->
  <rootcheck>
    <disabled>no</disabled>
    <frequency>43200</frequency>
    <skip_nfs>yes</skip_nfs>
  </rootcheck>

  <!-- Syscollector -->
  <wodle name="syscollector">
    <disabled>no</disabled>
    <interval>1h</interval>
    <scan_on_start>yes</scan_on_start>
    <hardware>yes</hardware>
    <os>yes</os>
    <network>yes</network>
    <packages>yes</packages>
    <ports all="no">yes</ports>
    <processes>yes</processes>
  </wodle>

  <!-- SCA -->
  <sca>
    <enabled>yes</enabled>
    <scan_on_start>yes</scan_on_start>
    <interval>12h</interval>
  </sca>

  <!-- File Integrity Monitoring -->
  <syscheck>
    <disabled>no</disabled>
    <frequency>43200</frequency>
    <scan_on_start>yes</scan_on_start>
    <directories>/etc,/usr/bin,/usr/sbin,/bin,/sbin,/boot</directories>
    <skip_nfs>yes</skip_nfs>
    <skip_dev>yes</skip_dev>
    <skip_proc>yes</skip_proc>
    <skip_sys>yes</skip_sys>
  </syscheck>

{% if wazuh_agent_home_directory_check %}
  <syscheck>
    <directories check_all="yes">/home</directories>
  </syscheck>
{% endif %}

{% if wazuh_agent_user_audit %}
  <syscheck>
    <directories check_all="yes" whodata="yes">/etc</directories>
  </syscheck>
{% endif %}

  <!-- Log Monitoring -->
{% for log in wazuh_agent_log_sources %}
  <localfile>
    <log_format>{{ log.format }}</log_format>
    <location>{{ log.path }}</location>
  </localfile>
{% endfor %}

  <logging>
    <log_format>plain</log_format>
  </logging>

</ossec_config>